body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "main_font";
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.1);
}

@font-face{
	font-family: "main_font";
 	src: url('Roboto-Light.ttf');
}
@font-face {
  font-family: "roboto";
  src: url('Roboto-Light.ttf');
}

main {
    flex: 1;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: 	#eeb422;
}

ul li {
  list-style-type: none;
}

header {
  display: flex;
  background-color: #1D1D1D;
}

header a {
  color: white;
  margin-left: 1%;
}

header a:hover {
  color: 	#eeb422;
}

header i:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 1px white;
}

.entete {
  display: flex;
  margin-left: 2%;
}

.entete a {
  margin-left: 7%;
}

/*------------------------------
----pour l'affiche------
-------------------------------*/

.affiche {
  display:flex;
  height: 35em;
  text-align: center;
}

.affiche a {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.affiche img:hover {
  transition: 300ms;
  transform: scale(1.05);
  filter: contrast(50%);
}

/*------------------------------
----pour le titre---------------
-------------------------------*/

.titre {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color:	#eeb422;
    color: white;
    height: 12em;
}

.titre a {
  font-size: 1.4em;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.titre a h1 {
  font-size: 4em;
  text-shadow: 1px 1px 1px black;
}

.titre h1:hover {
  transform: scale(1.03);
  transition: 300ms;
  border: none;
  color: white;
  text-shadow: 2px 2px 0px black;
}

/*------------------------------
----pour la partie texte------
-------------------------------*/

.resume {
  display: flex;
  flex-direction: column;
  height: 14em;
  background-color:	#eeb422;
  text-align: center;
}

.resume:hover {
  transition: 300ms;
  background-color: #1D1D1D;
}

.resume h2 {
  width: 15%;
  color: white;
  height: 1.3em;
  background-color: #1D1D1D;
  font-weight: 300;
  font-size: 1.5em;
}

.resume p {
 color: white;
 margin-top: auto;
 margin-bottom: auto;
}

/*------------------------------
----pour la partie récap------
-------------------------------*/

.part_acteur_bo {
  display: flex;
  justify-content: space-around;
  height: 25em;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}

.iframe {
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.iframe:hover {
  transition: 200ms;
  transform: scale(1.05);
}

.part_act {
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

/*----------------------------------------
----pour la partie CI du réalisateur------
-----------------------------------------*/

.acteur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.part_acteur_bio {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

.description_cine_act {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
}

.description_cine_act p {
  padding-top: 2%;
}

/*----------------------------------
----------media query----------------
----------------------------------*/
