body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "main_font";
    font-size: 1.1em;
}

@font-face{
	font-family: "main_font";
 	src: url('Roboto-Light.ttf');
}
@font-face {
  font-family: "roboto";
  src: url('Roboto-Light.ttf');
}

main {
    flex: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  background-color: #eeb422;
  height: 3px;
}

header {
  display: flex;
  z-index: 99;
  position: absolute;
  height: 5em;
  width: 80%;
    text-shadow: 1px 1px 1px black;
}

header a {
  color: white;
  padding-left: 3%;
}

header a:hover {
  color: 	#eeb422;
  text-shadow: 1px 2px 1px black;
}

header i:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 1px white;
}

.entete {
  display: flex;
  margin-top: 1%;
  margin-left: 2%;
  padding-left: 2%;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.parallax-window {
    min-height: 300px;
    background: transparent;
}

.contain {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}

.contain p {
 width: 50%;
 height: 100%;
 margin-top: auto;
 margin-bottom: auto;
 color: black;
}

.titrecinemet {
  text-align: center;
  font-size: 3em;
  color: black;
}

.imgcinemet {
  height: 100%;
  width: 80%;
  box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.6);
}

.contain a {
  width: 30%;
}

.imgcinemet:hover {
  transition: 300ms;
  box-shadow: 0px 0px 0px 0px;
  transform: scale(1.01);
  filter: contrast(50%);
}
